@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  --font-agustina: var(--font-agustina);
  --font-montserrat-regular: var(--font-montserrat-regular);
}

::selection {
  @apply bg-[#dbe4f9] text-black;
  /* background: #dbe4f9; */
}

.header {
  @apply fixed inset-x-0 top-0 z-40 bg-white/30;
  @apply shadow-sm saturate-[1.8];
  @apply backdrop-blur-md backdrop-filter dark:bg-black/80 dark:saturate-100;
  max-width: 100%;

  /*
  padding: 15px 20px;
  margin: 0px auto;
  */

  .logo {
    @apply float-left mt-[10px] block flex-none font-mono text-sm leading-normal text-gray-400;
    text-decoration: none;

    &:hover,
    &:active {
      @apply bg-gradient-to-r from-orange-400 to-pink-300 bg-clip-text text-transparent;
    }
  }

  .logo-name {
    @apply text-2xl font-bold text-black;
    font-family: var(--font-agustina);  
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;

    &:hover,
    &:active {
      @apply bg-gradient-to-r from-orange-400 to-pink-300 bg-clip-text font-bold text-transparent;
    }
  }
}

/*
EMOJI
*/

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
